@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inter:wght@400;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

body{
    padding: 2rem 3rem;
    font-family: "karla";
    background-color: #4D5B9E;
    color: #293264;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2rem 6rem;
    text-align: center;
    width: 40rem;
    height: 100%;
    background-color: #F5F7FB;
    border-radius: 10px;
}

.reception{
    height: 35rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

button.normal{
    background: #4D5B9E;
    border-radius: 15px;
    padding: 1.2rem 3rem;
    border-style: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #F5F7FB;

    cursor: pointer;
}

.reception_text{
    color: #293264;
    padding-bottom: 1.15rem;
}

.reception_text h1{
    font-family: "karla";
    font-style: normal;
    font-weight: 700;
}

.reception_text h3{
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
}

.reception-off{
    display: none;
}


.quiz_question{
    margin-bottom: 2rem;
}

.quiz-show{
    height: 100%;
    width: 90%;
}

.quiz_el{
    
    display: flex;
    flex-direction: column;
    height: 10rem;
    text-align: left;
    margin-bottom: 1.2rem;
}

button.answer{
    background: #F5F7FB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 12px;
    /* identical to box height */

    text-align: center;

    color: #293264;

    border: 0.1rem solid #4D5B9E;
    border-radius: 7.94239px;

    padding: 0.5rem 1rem;
    margin-right: 1rem;

    cursor: pointer;

    clear: both;
    display: inline-block;
    /* overflow: hidden; */
    white-space: nowrap;

}

.answer_grp{
    display: flex;

    padding-bottom: 2rem;
    border-bottom: solid 2px #DBDEF0;

}

.button_section{
    margin-top: 2rem;
}